
FirstApp/.vs/FirstApp/v16/.suo
FirstApp/.vs/FirstApp/v16/Server/sqlite3/db.lock
FirstApp/.vs/FirstApp/v16/Server/sqlite3/storage.ide
FirstApp/.vs/FirstApp/v16/Server/sqlite3/storage.ide-shm
FirstApp/.vs/FirstApp/v16/Server/sqlite3/storage.ide-wal
